.zaza_input{
    background-color: transparent;
    border: none;
    font-size: 18px;
    height: -webkit-fill-available;
    margin-left: 20px;
    width: 250px;
}
.zaza_sel {
    border: none;
    height: -webkit-fill-available;
    margin-left: 15px;
    background-color: #00bfff;
    font-size: 18px;
    color: white;
    padding: 0px 40px;
}
.zaza_opt {
    border: none;
    outline: none;
    padding: 0px 5px;
    color: white;
}
.zaza_opt:hover {
    outline: none;
    background-color: darkcyan;
}